button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: gray;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
    font-family: fantasy;
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(128, 128, 128, 0.623);
    color: white;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
button:hover{
    background-color: aqua;
}
button:active{
    background-color: antiquewhite;
}
.operator{
    background-color: orange;

}
.operator:hover{
    background-color: red;
}